body{
    height: 100vh;
    width: 100vw;
    background-color: rgb(20, 83, 97);
    display: flex;
    justify-content: center;
    align-items: center;  
}

.main{
    height: 30vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: var(--font1);
}

.AppTitle{
    color:rgb(255, 255, 255);
    text-shadow: 2px 2px rgb(0, 0, 0);
}

.background {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: -2;
    height: 100vh;
    width: 100vw;
  }